<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="2.0"> 
    <name lang="en">XMPP Chat</name> 
    <description lang="en">XMPP-based chat for ATutor.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
        <maintainer> 
            <name>Casian Olga</name>
            <email>dae-eklen@gmail.com</email> 
        </maintainer>
    </maintainers>
    <url>https://github.com/dae-eklen/chat_new</url> 
    <license>GPL</license> 
	<release> 
        <version>2.0</version> 
		<privileges>
			<instructor_privilege>create</instructor_privilege>
			<admin_privilege></admin_privilege> 
		</privileges>
        <date>2014-02-23</date> 
        <state>Stable version for ATutor 2.1.1 and later.</state> 
        <notes>This is an extra module.</notes> 
    </release> 
</module>
